<div id="summary" v-cloak>

  <div class="page-header">
    <div class="row">
      <div class="col"><h1>Hello, {{ me.name }}!</h1></div>
      <div class="col"><h2>Coin: {{ me.coin }}</h2></div>
      <div class="header-buttons col">
        <button class="btn btn-outline-primary" @click="clickAddButton()" v-if="joinedBU.length > 0">Add a Record</button>
      </div>
    </div>
    <!--<h1>{{ me.name }}</h1>-->
    <!--<h2>Coin: {{ me.coin }}</h2>-->
    <!--<div class="header-buttons">-->
      <!--<button class="btn btn-outline-primary" @click="clickAddButton()" v-if="joinedBU.length > 0">Add a Record</button>-->
    <!--</div>-->
  </div>

  <ul class="nav nav-tabs" id="main-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="bu-tab" data-toggle="tab" href="#bu-tab-content" role="tab" aria-controls="bu" aria-selected="true">Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="trade-tab" data-toggle="tab" href="#trade-tab-content" role="tab" aria-controls="profile" aria-selected="false">Trade</a>
    </li>
  </ul>

  <div class="tab-content" id="main-tab-content">

    <div class="tab-pane fade show active " id="bu-tab-content" role="tabpanel" aria-labelledby="bu-tab">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th><th scope="col">Name</th><th scope="col">Point</th><th scope="col">Point/Coin</th><th scope="col"></th>
        </tr>
        </thead>
        <div class="">
        <tbody>
        <tr v-for="bu in allBU">
          <th scope="row">{{ bu.id }}</th>
          <td>{{ bu.name }}</td>
          <td><span v-if="bu.isJoined">{{ bu.point }}</span> <span v-else> - </span></td>
          <td>{{ bu.ptToCoinRatio }}</td>
          <td>
            <button type="button" v-if="bu.isJoined" hidden></button>
            <button type="button" class="btn btn-primary ml-1" v-else @click="clickJoinButton(bu.id)">Join</button>
          </td>
        </tr>
        </tbody>
        </div>
      </table>
    </div>

    <div class="tab-pane fade" id="trade-tab-content" role="tabpanel" aria-labelledby="trade-tab">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th><th scope="col">Shop</th><th scope="col">Date</th><th scope="col">Point</th><th scope="col">Used</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="trade in tradeRecords">
          <th scope="row"><span v-if="trade.valid"></span><span v-else>&times;</span></th>
          <td>{{ trade.buName }}</td>
          <td>{{ trade.date }}</td>
          <td>{{ trade.point }}</td>
          <td>
            <button v-if="trade.valid" type="button" class="btn btn-primary ml-1" @click="clickUsedButton(trade.id)">Use</button>
            <span v-else>{{ trade.usedTime }}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <% /* "Add Trade" modal */ %>
  <modal v-if="addTradeModalOpen" v-cloak key="add-trade" @close="closeAddTradeModal()">
    <div class="modal-header">
      <h5 class="modal-title">Add a Trade</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="addTrade" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingAddTradeForm" @submitted="submittedAddTradeForm($event)">
      <div class="modal-body">

        <div class="form-group">
          <label>Choose Company:</label>
          <select v-model.trim="addTradeData.buId" class="form-control" :class="[addTradeErrors.buId ? 'is-invalid' : '']" >
            <!--<option v-bind:value="" >Please choose a company</option>-->
            <option v-for="bu in joinedBU" v-if="bu.isJoined" v-bind:value="bu.id" >{{ bu.name }}</option>
          </select>
          <div class="invalid-feedback" v-if="addTradeErrors.buId">Please choose a company.</div>
        </div>
        <div class="form-group">
          <input type="number" step="1" min="0" class="form-control" placeholder="Input the Point" :class="[addTradeErrors.point ? 'is-invalid' : '']" v-model.trim="addTradeData.point">
          <div class="invalid-feedback" v-if="addTradeErrors.point">Please provide a valid Point.</div>
        </div>
      </div>
      <div class="modal-footer flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Add Trade</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
      </div>
    </ajax-form>
  </modal>

  <% /* "Join BU" modal */ %>
  <modal v-if="joinBUModalOpen" v-cloak key="join-bu" @close="closeJoinBUModal()">
    <div class="modal-header">
      <h5 class="modal-title">Does you want to join <strong>"{{ selectedBU.name }}"</strong> ?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="joinBu" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingJoinBUForm" @submitted="submittedJoinBUForm($event)">
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Join</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <% /* "Exchange Coin" modal */ %>
  <modal v-if="exchangeCoinModalOpen" v-cloak key="exch-coin" @close="closeExchangeCoinModal()">
    <div class="modal-header">
      <h5 class="modal-title">Does you want to exchange this trade ?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="exchangeCoin" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingExchangeCoinForm" @submitted="submittedExchangeCoinForm($event)">
      <div class="modal-body">

        <!--<div class="row">-->
          <!--<div class="col-3">Trade ID:</div>-->
          <!--<div class="col"><strong>{{selectedTrade.id}}</strong></div>-->
        <!--</div>-->
        <div class="row">
          <div class="col-3">Shop:</div>
          <div class="col"><strong>{{selectedTrade.buName}}</strong></div>
        </div>
        <div class="row">
          <div class="col-3">Exchange Ratio:</div>
          <div class="col"><strong>{{selectedTrade.ptPerCoinRatio}}</strong></div>
        </div>
        <div class="row">
          <div class="col-3">Point &rarr; Coin: </div>
          <div class="col"><strong>{{selectedTrade.point}}</strong> &rarr; <strong>{{selectedTrade.expectedCoin}}</strong></div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Exchange</ajax-button>
      </div>
    </ajax-form>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
