#reward {

  .listings {
    max-width: 1000px;
    margin: 0 auto;
    column-width: 230px;
    column-gap: 10px;
    margin-bottom: 100px;
    .card {
      break-inside: avoid;
      margin-bottom: 10px;
      position: relative;
      font-weight: normal;
      text-shadow: 0 -1px rgba(0,0,0,0.6);
      background: rgba(66, 182, 87, 0.68);
      border: 1px solid #fff;
      padding: 5px 15px;
      color: white;
      border-radius: 0 10px 0 10px;
      box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
      .title {
        font-weight: bold;
        font-size: 22px;
        text-shadow: 0 -1px rgba(0,0,0,0.6);
        font-family: 'Ultra', sans-serif;
      }
      .coin {
        text-align: right;
      }
      //img {
      //  display: block;
      //  width: 100%;
      //  height: auto;
      //  margin-bottom: 10px;
      //  position: relative;
      //  z-index: 10;
      //}
      &.disable {
        opacity: 0.6;
        background-color: #080808cc;
      }
    }

  }
}
