<div id="reward" v-cloak>

  <h1>Reward</h1>
  <div class="row">
    <div class="col"><h1>Hello, {{ me.name }}!</h1></div>
    <div class="col"><h2>Coin: {{ me.coin }}</h2></div>
  </div>

  <div class="listings" v-if="rewardsPosts.length > 0">
    <div class="card" :key="'post'+post.id" :class="[post.allowRedeem ? '' : 'disable']" v-for="post in rewardsPosts">
      <span class="label title">{{ post.name }}<br/></span>
      <span class="label coin"><b>{{ post.coin }}</b> Coin<br/></span>
      <hr>
      <button v-if="post.allowRedeem" type="button" class="btn btn-outline-primary" @click="clickExchangeButton(post.id)">Exchange</button>
      <button v-else type="button" class="btn btn-outline-primary" @click="clickExchangeButton(post.id)">View</button>

      <!--<small class="owner text-secondary" v-if="thing.owner.id === me.id"><span class="fa fa-home mr-1"></span> Mine</small>-->
      <!--<small class="owner text-success" v-else-if="thing.borrowedBy && thing.borrowedBy.id === me.id"><span class="fa fa-star-o mr-1"></span> Borrowing</small>-->
      <!--<small class="owner text-primary" v-else>{{thing.owner.fullName}}</small>-->
    </div>
  </div>

  <% /* "Exchange/View Reward Post" modal */ %>
  <modal v-if="exchangeRewardPostModalOpen" v-cloak key="exchange-reward-post" @close="closeExchangeRewardPostModal()">
    <div class="modal-header">
      <h5 class="modal-title">{{selectedRewardPost.name}}</h5>
      <p>Does you want to exchange this Reward ?</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="exchangeReward" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingExchangeRewardPostForm" @submitted="submittedExchangeRewardPostForm($event)">
      <div class="modal-body">

        <!--<div class="row">-->
          <!--<div class="col-4">Reward Post ID:</div>-->
          <!--<div class="col"><strong>{{selectedRewardPost.id}}</strong></div>-->
        <!--</div>-->
        <div class="row">
          <div class="col-4">Description:</div>
          <div class="col"><strong>{{selectedRewardPost.description}}</strong></div>
        </div>
        <div class="row">
          <div class="col-4">Coin:</div>
          <div class="col"><strong>{{selectedRewardPost.coin}}</strong></div>
        </div>
        <div class="row">
          <div class="col-4">Redemption Period:</div>
          <div class="col">{{selectedRewardPost.redemptionStartDate}} - {{selectedRewardPost.redemptionEndDate}}</div>
        </div>
        <div class="row">
          <div class="col-4">Remaining quantity: </div>
          <div class="col">{{selectedRewardPost.count}}</div>
        </div>
        <div class="row">
          <div class="col"><small>Provided by {{selectedRewardPost.issueBuName}}</small></div>
        </div>

      </div>
      <div class="modal-footer">
        <!--<p class="invalid-feedback" v-if="selectedRewardPost.allowRedeem && me.coin < selectedRewardPost.coin">Not enough Coin to exchange this reward.</p>-->
        <p v-if="selectedRewardPost.allowRedeem && me.coin < selectedRewardPost.coin" class="text-danger"><small>Not enough Coin to exchange this reward.</small></p>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
        <ajax-button type="submit" v-if="selectedRewardPost.allowRedeem && me.coin >= selectedRewardPost.coin && selectedRewardPost.count > 0" :syncing="syncing" class="btn btn-primary ml-1">Exchange</ajax-button>
      </div>
    </ajax-form>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
