<div id="reward-history" v-cloak>

  <h1>Reward History</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Redeem Date</th>
      <th scope="col">Shop</th>
      <th scope="col">coin</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <div class="">
      <tbody>
      <tr v-for="history in historyArray">
        <th scope="row"> </th>
        <td>{{ history.name }}</td>
        <td>{{ history.redeemTime }}</td>
        <td>{{ history.issueBuName }}</td>
        <td>{{ history.coin }}</td>
        <td>
          <button type="button" class="btn btn-primary ml-1" @click="clickDetailButton(history.id)">Detail</button>
        </td>
      </tr>
      </tbody>
    </div>
  </table>

  <% /* "View Detail" modal */ %>
  <modal v-if="detailModalOpen" v-cloak key="view-detail" @close="closeDetailModal()">
    <div class="modal-header">
      <h5 class="modal-title"><strong>Reward</strong></h5>
      <p>{{selectedReward.name}}</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--<div class="row">-->
        <!--<div class="col-3">Reward ID:</div>-->
        <!--<div class="col"><strong>{{selectedReward.id}}</strong></div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-3">Reward Post ID:</div>-->
        <!--<div class="col"><strong>{{selectedReward.postId}}</strong></div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-3">Description:</div>
        <div class="col"><strong>{{selectedReward.description}}</strong></div>
      </div>
      <div class="row">
        <div class="col-3">Coin:</div>
        <div class="col"><strong>{{selectedReward.coin}}</strong></div>
      </div>
      <div class="row">
        <div class="col-3">Redeem Date: </div>
        <div class="col"><strong>{{selectedReward.redeemTime}}</strong></div>
      </div>
      <div class="row">
        <div class="col-3">Status:</div>
        <div class="col"><strong>{{selectedReward.status}}</strong></div>
      </div>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
    </div>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
